<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPPlus" version="5.6.3" targetFramework="net472" />
  <package id="HandyControl" version="3.1.0" targetFramework="net472" />
  <package id="HandyControls" version="3.3.4" targetFramework="net472" />
  <package id="ICSharpCode.SharpZipLib.dll" version="0.85.4.369" targetFramework="net472" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="1.4.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net472" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net472" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net472" />
</packages>